@font-face {
    font-family: 'Alte Haas Grotesk Regular';
    src: url('AlteHaasGroteskRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'Alte Haas Grotesk Bold';
    src: url('AlteHaasGroteskBold.ttf') format('truetype');
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    padding-top: 3rem;
    margin-bottom: 3rem;
}

.headerContainer {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    width: 100%;
}

body.modal-open .headerContainer {
    filter: blur(5px);
}

/* ---------------- NAME ---------------- */

#nombre {

    width: 70%;

    box-sizing: border-box;

    padding: 0 1.5rem;

    font-size: 6vh;

    display: flex;
}

#nombre > a {

    font-family: "Alte Haas Grotesk Regular";

    color: black;

    text-decoration: none;

    text-align: center;
}

/* ---------------- BUTTONS ---------------- */

.barraBotones {

    display: flex;

    height: 100%;

    width: 30%;

    flex-direction: row;

    justify-content: flex-end;
    align-items: center;

    padding: 0 1.5rem;
}

.botonHeader {

    cursor: pointer;

    transition-duration: 0.15s;
    transition: border-color 0.15s ease-in-out;

    font-family: "Alte Haas Grotesk Bold";

    color: black;

    text-decoration: none;

    border-bottom: 2.5px solid transparent;

    font-size: 1.2rem;
}

.botonHeader + .botonHeader {
    margin-left: 1rem;
}

.botonHeader:hover {

    transition: border-color 0.15s ease-in-out;

    border-bottom: 2.5px solid black;
}

/* ========================================================= */
/* ===================== RESPONSIVE ========================= */
/* ========================================================= */

@media (max-width: 1024px){

    #nombre{
        font-size: 52px;
    }

    .barraBotones{
        width: 40%;
    }

}

@media (max-width: 768px){

    header{
        height: 18vh;
        padding-top: 1.5rem;
        margin-bottom: 1rem;
    }

    .headerContainer{

        flex-direction: column;

        justify-content: center;
        align-items: center;

        gap: 1rem;
    }

    #nombre{

        width: 100%;

        justify-content: center;

        padding: 0;

        font-size: 42px;

        text-align: center;
    }

    .barraBotones{

        width: 100%;

        justify-content: center;

        padding: 0;

        gap: 1.5rem;
    }

    .botonHeader{

        font-size: 1rem;
    }

    .botonHeader + .botonHeader{
        margin-left: 0;
    }

}

@media (max-width: 480px){

    #nombre{
        font-size: 30px;
    }

    .barraBotones{

        gap: 1rem;

        flex-wrap: wrap;
    }

    .botonHeader{

        font-size: 0.9rem;
    }

}

/* ---------------- DROPDOWN ---------------- */

.dropdown {

    position: relative;

    display: flex;
    align-items: center;
}

/* Mantiene la misma separación entre TODOS los botones */
.barraBotones > * + * {

    margin-left: 1rem;
}

.dropdownContenido {

    position: absolute;

    top: 100%;
    left: 0;

    display: flex;
    flex-direction: column;

    opacity: 0;
    visibility: hidden;

    transition: opacity 0.15s ease;

    background: rgba(255, 255, 255, 0.8);

    padding-top: 0.7rem;
    padding-left: 0.7rem; 
    padding-right: 0.7rem; 


    z-index: 1000;
}

.dropdownContenido a {

    cursor: pointer;

    transition-duration: 0.15s;
    transition: border-color 0.15s ease-in-out;

    font-family: "Alte Haas Grotesk Regular";

    color: black;

    text-decoration: none;

    border-bottom: 2.5px solid transparent;

    font-size: 1.2rem;

    width: fit-content;

    margin-bottom: 0.5rem;
}

.dropdownContenido a:hover {

    border-bottom: 2.5px solid black;
}

.dropdown:hover .dropdownContenido {

    opacity: 1;
    visibility: visible;
}
/* ---------------- RESPONSIVE ---------------- */

@media (max-width: 768px){

    .barraBotones > * + * {

        margin-left: 0;
    }

    .dropdownContenido a {

        font-size: 1rem;
    }

}

@media (max-width: 480px){

    .dropdownContenido a {

        font-size: 0.9rem;
    }

}