*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: Raleway;
}

body{
  width: 100%;
  height: 100vh;
}

#loader{
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1;
  overflow: visible;
  background: #fff url("icon.gif") no-repeat center center;
}

/*------------------------------------------------------------------------------------------*/

header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  padding-top: 2.5rem;
  margin-bottom: 2.5rem;
}

header section #nombre{
  font-family: "Raleway";
  padding-left: 2rem;
  font-size: 70px;
  color: black;
  text-decoration: none;
}

header section .botones{
  font-family: "Raleway";
  color: black;
  text-decoration: none;
  padding-right: 2rem;
}

header section #botonPortfolio{
  font-family: "Raleway";
  justify-content: right;
  color: black;
  text-decoration: none;
  padding-left: 16rem;
  padding-right: 2rem;
}


/*------------------------------------------------------------------------------------------*/

.contenedor{
  width: 100%;
  max-width: 120rem;
  margin: auto;
  padding: 0 1.5rem;
}

.galeriaFotos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1.5rem;
  grid-template-areas:
          'img1 img1 img4 img13'
          'img5 img3 img3 img13'
          'img6 img6 img10 img10'
          'img2 img12 img12 img8'
          'img2 img9 img9 img11'
          'img7 img7 img14 img14';
}

.galeriaFotos a{
  width: 100%;
  height: 25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.galeriaFotos a ion-icon{
  color: rgba(255,255,255, .6);
  font-size: 3rem;
  position: relative;
  z-index: 100;
  padding: 1rem 3rem;
  border: 2px solid rgba(255,255,255, .6);
  border-radius: .4rem;
  opacity: 0;
  transition: opacity .5s;
}

.galeriaFotos a::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.25);
  opacity: 0;
  transition: opacity .5s;
}

.galeriaFotos a:hover ion-icon,
.galeriaFotos a:hover::before{
  opacity:1
}

/*------------------------------------------------------------------------------------------*/

.img1{
  grid-area: img1;
  background-image: url("fotos/img1.jpg");
}
.img2{
   grid-area: img2;
   min-height: 51.5rem;
   background-image: url("fotos/img2.jpg");
}
.img3{
  grid-area: img3;
  background-image: url("fotos/img3.jpg");
}
.img3{
  grid-area: img3;
  background-image: url("fotos/img3.jpg");
}
.img4{
  grid-area: img4;
  background-image: url("fotos/img4.jpg");
}
.img5{
  grid-area: img5;
  background-image: url("fotos/img5.jpg");
}
.img6{
  grid-area: img6;
  background-image: url("fotos/img6.jpg");
}
.img7{
  grid-area: img7;
  min-height: 51.5rem;
  background-image: url("fotos/img7.jpg");
}
.img8{
  grid-area: img8;
  background-image: url("fotos/img8.jpg");
}
.img9{
  grid-area: img9;
  background-image: url("fotos/img9.jpg");
}
.img10{
  grid-area: img10;
  background-image: url("fotos/img10.jpg");
}
.img11{
  grid-area: img11;
  background-image: url("fotos/img11.jpg");
}
.img12{
  grid-area: img12;
  background-image: url("fotos/img12.jpg");
}
.img13{
  grid-area: img13;
  min-height: 51.5rem;
  background-image: url("fotos/img13.jpg");
}

.img14{
  grid-area: img14;
  min-height: 51.5rem;
  background-image: url("fotos/img14.jpg");
}

.imgx{
  grid-area: imgx;
  background-color: rgba(0,0,0,0);
}

/*------------------------------------------------------------------------------------------*/

@media (max-width: 1211px){
  header{
    flex-direction: column;
  }
  header section #botonPortfolio{
    padding-left: 1rem;
  }
}

@media (max-width: 633px) {
  header section #nombre{
    padding-left: 0;
  }
}

@media (max-width: 600px){
  header{
    height: 12%;
  }
  header section #nombre{
    font-size: 40px;
  }
}

@media (max-width: 425px){
  header{
    padding-left: 10.5rem;
  }

}
