*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: Raleway;
}

body{
  width: 100%;
  height: 100vh;
}


/*------------------------------------------------------------------------------------------*/

header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  padding-top: 2.5rem;
  margin-bottom: 2.5rem;
}

header section #nombre{
  font-family: "Raleway";
  padding-left: 2rem;
  font-size: 70px;
  color: black;
  text-decoration: none;
}

header section .botones{
  font-family: "Raleway";
  color: black;
  text-decoration: none;
  margin-right: 2rem;
}

header section .botonPortfolio{
  font-family: "Raleway";
  justify-content: right;
  color: black;
  text-decoration: none;
  margin-left: 16rem;
  margin-right: 2rem;
}

.botonesFalsos{
  display: none;
  text-decoration: none;
  color: black;
}

.botonesFalsosP{
  display: none;
  text-decoration: none;
  color: black;
}

.barraBotones a:hover + .botonesFalsos{
  display: revert;
  margin-right: 2rem;
}

.barraBotones a:hover + .botonesFalsosP{
  margin-left: 16rem;
  margin-right: 2rem;
  display: revert;
}

.botonPortfolio:hover{
  display: none;
}

.botones:hover{
  display: none;
}

/*------------------------------------------------------------------------------------------*/

.contenedor{
  width: 100%;
  max-width: 120rem;
  margin: auto;
  padding: 0 1.5rem;
}

.galeriaFotos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1.5rem;
  grid-template-areas:
          'img15 img15 img16 img16'
          'img19 img17 img17 img17'
          'img18 img18 img18 img20'
          'img21 img21 img22 img22'
          'img23 img23 img24 img24'
          'img25 img25 img26 img26'
          'img27 img27 img28 img28'
          'img32 img32 img30 img30'
          'img31 img31 img33 img33'
          'img34 img34 img29 img29'
          'img35 img35 img36 img36'
          'img3 img3 img4 img13'
          'img5 img1 img1 img13'
          'img6 img6 img10 img10'
          'img2 img12 img12 img8'
          'img2 img9 img9 img11'
          'img7 img7 img14 img14'

          ;
}

.galeriaFotos a{
  width: 100%;
  height: 25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.galeriaFotos a ion-icon{
  color: rgba(255,255,255, .6);
  font-size: 3rem;
  position: relative;
  z-index: 100;
  padding: 1rem 3rem;
  border: 2px solid rgba(255,255,255, .6);
  border-radius: .4rem;
  opacity: 0;
  transition: opacity .5s;
}

.galeriaFotos a::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.25);
  opacity: 0;
  transition: opacity .5s;
}

.galeriaFotos a:hover ion-icon,
.galeriaFotos a:hover::before{
  opacity:1
}

/*------------------------------------------------------------------------------------------*/

.img1{
  grid-area: img1;
  background-image: url("fotos/img1.jpg");
}
.img2{
   grid-area: img2;
   min-height: 51.5rem;
   background-image: url("fotos/img2.jpg");
}
.img3{
  grid-area: img3;
  background-image: url("fotos/img3.jpg");
}
.img3{
  grid-area: img3;
  background-image: url("fotos/img3.jpg");
}
.img4{
  grid-area: img4;
  background-image: url("fotos/img4.jpg");
}
.img5{
  grid-area: img5;
  background-image: url("fotos/img5.jpg");
}
.img6{
  grid-area: img6;
  background-image: url("fotos/img6.jpg");
}
.img7{
  grid-area: img7;
  min-height: 51.5rem;
  background-image: url("fotos/img7.jpg");
}
.img8{
  grid-area: img8;
  background-image: url("fotos/img8.jpg");
}
.img9{
  grid-area: img9;
  background-image: url("fotos/img9.jpg");
}
.img10{
  grid-area: img10;
  background-image: url("fotos/img10.jpg");
}
.img11{
  grid-area: img11;
  background-image: url("fotos/img11.jpg");
}
.img12{
  grid-area: img12;
  background-image: url("fotos/img12.jpg");
}
.img13{
  grid-area: img13;
  min-height: 51.5rem;
  background-image: url("fotos/img13.jpg");
}

.img14{
  grid-area: img14;
  min-height: 51.5rem;
  background-image: url("fotos/img14.jpg");
}

.img15{
  grid-area: img15;
  min-height: 51.5rem;
  background-image: url("fotos/img15.jpg");
}

.img16{
  grid-area: img16;
  min-height: 51.5rem;
  background-image: url("fotos/img16.jpg");
}

.img17{
  grid-area: img17;
  min-height: 51.5rem;
  background-image: url("fotos/img17.jpg");
}

.img18{
  grid-area: img18;
  min-height: 51.5rem;
  background-image: url("fotos/img18.jpg");
}

.img19{
  grid-area: img19;
  min-height: 51.5rem;
  background-image: url("fotos/img19.jpg");
}

.img20{
  grid-area: img20;
  min-height: 51.5rem;
  background-image: url("fotos/img20.jpg");
}

.img21{
  grid-area: img21;
  min-height: 51.5rem;
  background-image: url("fotos/img21.jpg");
}

.img22{
  grid-area: img22;
  min-height: 51.5rem;
  background-image: url("fotos/img22.jpg");
}

.img23{
  grid-area: img23;
  min-height: 51.5rem;
  background-image: url("fotos/img23.jpg");
}

.img24{
  grid-area: img24;
  min-height: 51.5rem;
  background-image: url("fotos/img24.jpg");
}

.img25{
  grid-area: img25;
  min-height: 51.5rem;
  background-image: url("fotos/img25.jpg");
}

.img26{
  grid-area: img26;
  min-height: 51.5rem;
  background-image: url("fotos/img26.jpg");
}

.img27{
  grid-area: img27;
  min-height: 51.5rem;
  background-image: url("fotos/img27.jpg");
}

.img28{
  grid-area: img28;
  min-height: 51.5rem;
  background-image: url("fotos/img28.jpg");
}

.img29{
  grid-area: img29;
  min-height: 51.5rem;
  background-image: url("fotos/img29.jpg");
}

.img30{
  grid-area: img30;
  min-height: 51.5rem;
  background-image: url("fotos/img30.jpg");
}

.img31{
  grid-area: img31;
  min-height: 51.5rem;
  background-image: url("fotos/img31.jpg");
}

.img32{
  grid-area: img32;
  min-height: 51.5rem;
  background-image: url("fotos/img32.jpg");
}

.img33{
  grid-area: img33;
  min-height: 51.5rem;
  background-image: url("fotos/img33.jpg");
}

.img34{
  grid-area: img34;
  min-height: 51.5rem;
  background-image: url("fotos/img34.jpg");
}

.img35{
  grid-area: img35;
  min-height: 51.5rem;
  background-image: url("fotos/img35.jpg");
}

.img36{
  grid-area: img36;
  min-height: 51.5rem;
  background-image: url("fotos/img36.jpg");
}

.imgx{
  grid-area: imgx;
  background-color: rgba(0,0,0,0);
}

/*------------------------------------------------------------------------------------------*/

@media (max-width: 1211px){
  header{
    flex-direction: column;
  }
  header section #botonPortfolio{
    padding-left: 1rem;
  }
}

@media (max-width: 633px) {
  header section #nombre{
    padding-left: 0;
  }
}

@media (max-width: 600px){
  header{
    height: 12%;
  }
  header section #nombre{
    font-size: 40px;
  }
}

@media (max-width: 425px){
  header{
    padding-left: 10.5rem;
  }

}