*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Raleway;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*------------------------------------------------------------------------------------------*/

.texto1{
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.texto2{
    margin-bottom: 0.5rem;
}

.texto3{
    margin-bottom: 2rem;
}

.gatitoTriste{
    max-height: 200px;
    width: auto;
    cursor: pointer;
}

