*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
}

@font-face {
    font-family: 'Alte Haas Grotesk Regular';
    src: url('AlteHaasGroteskRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'Alte Haas Grotesk Bold';
    src: url('AlteHaasGroteskBold.ttf') format('truetype');
}

html,
body{
  width: 100%;
  min-height: 100vh;
  font-family: 'Alte Haas Grotesk Regular', sans-serif;
}

body{
  overflow-x: hidden;
}

img{
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  touch-action: manipulation;
}


/* FILTROS */

.filtrosContainer{
  width: 100%;
  padding: 1rem 3rem 2.5rem 3rem;

  font-family: 'Alte Haas Grotesk Regular', sans-serif;
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;

}

.filtro{
  border: 0px solid rgba(255,255,255,.3);
  background: transparent;
  color: rgb(0, 0, 0);

  font-family: 'Alte Haas Grotesk Regular', sans-serif;
  font-size: 2rem;

  cursor: pointer;

  transition: .3s;
}

.filtro:hover,
.filtro.active{
  font-family: 'Alte Haas Grotesk Bold', sans-serif;
  font-weight: bold;
  font-size: 2.2rem;
  color: red;
  margin: 0rem;
  padding: 0rem;
}


/* GRID */

.gridProyectos{
  width: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  padding: 0 3rem 3rem 3rem;
}

.proyecto{
  position: relative;
  aspect-ratio: 1 / 1;

  overflow: hidden;
  cursor: pointer;
}

.proyecto img{
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: .4s;
}

.proyectoOverlay{
  position: absolute;
  inset: 0;

  background-color: rgba(0,0,0,.5);

  color: white;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: 1.5rem;

  opacity: 0;
  transition: .3s;
}

.proyecto:hover .proyectoOverlay{
  opacity: 1;
}

.proyecto:hover img{
  transform: scale(1.05);
}

.proyectoOverlay h3{
  font-size: 1rem;
  margin-bottom: .5rem;
  letter-spacing: .08rem;
}

.proyectoOverlay p{
  font-size: .8rem;
  opacity: .8;
  line-height: 1.5;
}


/* MODAL */

.modal{
  position: fixed;
  inset: 0;

  background-color: rgba(0,0,0,.95);

  z-index: 2000;

  display: none;
  justify-content: center;
  align-items: center;

  padding: 3rem;
}

.modal.active{
  display: flex;
}

.modalContenido{
  width: 100%;
  max-width: 1500px;

  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3rem;

  align-items: center;
}

.modalGaleria{
  position: relative;
  width: 100%;
  height: 80vh;
}

.modalGaleria img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.nav{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  background: rgba(255,255,255,.1);
  border: none;
  color: white;

  width: 3rem;
  height: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition: .3s;
}

.nav:hover{
  background: rgba(255,255,255,.2);
}

.prev{
  left: 1rem;
}

.next{
  right: 1rem;
}

.nav ion-icon{
  font-size: 1.3rem;
}

.cerrarModal{
  position: absolute;
  top: 2rem;
  right: 2rem;

  background: none;
  border: none;
  color: white;

  cursor: pointer;

  z-index: 2001;
}

.cerrarModal ion-icon{
  font-size: 2.2rem;
}

.modalInfo{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modalInfo h2{
  color: white;
  font-size: 2rem;
  letter-spacing: .1rem;
}

.infoGrupo{
  display: flex;
  flex-direction: column;
  gap: .1rem;
}

.label{
  font-size: .75rem;
  color: white;
  opacity: .5;
}

.infoGrupo p{
  line-height: 1.7;
  font-size: .95rem;
  color: white;
}

#modalMedia{
  width: 100%;
  height: 100%;
}

#modalMedia img,
#modalMedia iframe{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#modalMedia iframe{
  border: none;
}

/* MOBILE */

@media (max-width: 1200px){
  html,
  body{
  font-family: 'Alte Haas Grotesk Regular', sans-serif;
  }
  .gridProyectos{
    grid-template-columns: repeat(3, 1fr);
  }

}

@media (max-width: 900px){

  .modalContenido{
    grid-template-columns: 1fr;
  }

  .modalGaleria{
    height: 50vh;
  }

  .modalInfo h2{
    font-size: 1.5rem;
  }

}

@media (max-width: 768px){

  h1{
  font-family: 'Alte Haas Grotesk Regular', sans-serif;
  }

  header{
    padding-top: 2rem;
  }

  .headerContainer{
    flex-direction: column;
    gap: 2rem;
  }

  .barraBotones{
    flex-wrap: wrap;
    justify-content: center;
  }

  .gridProyectos{
    grid-template-columns: repeat(2, 1fr);
    padding: 0 2rem 2rem 2rem;
  }

  .filtrosContainer{
    padding: 1rem 2rem 2rem 2rem;
  }

  .modal{
    padding: 1.5rem;
  }

}

@media (max-width: 500px){

  .gridProyectos{
    grid-template-columns: 1fr;
  }

  .proyecto{
    aspect-ratio: 4 / 5;
  }

}

@media (max-width: 768px){

  header{
    padding-top: 2rem;
  }

  .headerContainer{
    flex-direction: column;
  }

  .barraBotones{
    flex-wrap: wrap;
    justify-content: center;
  }

  .filtrosContainer{
    padding: 1rem 2rem 2rem 2rem;
  }

  .modal{
    padding: 1.5rem;
  }

  .filtro{
    cursor: pointer;
    font-size: 1.5rem;
    transition: color .2s;
  }


  .filtro:hover,
  .filtro.active{

    font-family: 'Alte Haas Grotesk Regular', sans-serif;
    font-weight: bold;

    font-size: 1.7rem;

    color: red;
  }
}
